@charset "utf-8";
@use 'sass:map';
@use 'sass:string';

/// Font Sizes
$font-sizes: (
        10: 1.0rem,
        11: 1.1rem,
        12: 1.2rem,
        13: 1.3rem,
        14: 1.4rem,
        16: 1.6rem,
        18: 1.8rem,
        20: 2.0rem,
        22: 2.2rem,
        24: 2.4rem,
        26: 2.6rem,
        28: 2.8rem,
        30: 3.0rem,
        32: 3.2rem,
        34: 3.4rem,
        36: 3.6rem,
        38: 3.8rem,
        40: 4.0rem,
        50: 5.0rem,
        60: 6.0rem,
        70: 7.0rem,
        80: 8.0rem,
        90: 9.0rem,
        100: 10.0rem,
        120: 12.0rem,
        140: 14.0rem,
) !default;

@function font-size($key) {
  @return map.get($font-sizes, $key);
}

/// Colors
$colors: (
        'white': #ffffff,
        'black': #000000,
        'grey-900': #212121,
        'grey-800': #2d2f34,
        'grey-700': #484c54,
        'grey-600': #6f737a,
        'grey-500': #8b929a,
        'grey-400': #aab1bc,
        'grey-300': #cdd4de,
        'grey-200': #dde3ec,
        'grey-100': #eff3f8,
        'grey-50': #f8f9fc,
        /// Add
        'fffa7f' : #fffa7f,
) !default;

@function color($key) {
  @return map.get($colors, $key + '');
}

/// Icon Filters
$icon-filters: (
        "black": invert(0%) sepia(2%) saturate(7%) hue-rotate(329deg) brightness(102%) contrast(101%),
        "white": invert(96%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(102%) contrast(101%)
);

@function icon-color($key) {
  @return map.get($icon-filters, $key + '');
}

@each $key, $filter in $icon-filters {
  .icon-color-#{$key} {
    filter: #{$filter};
  }
}

/// Utility Classes
$imt : string.unquote('!important');
$itemLength: 1000;

@each $name, $value in $colors {
  .fc-#{$name} { color: $value #{$imt}; }
  .bg-#{$name} { background-color: $value #{$imt}; }
  .bd-#{$name} { border-color: $value #{$imt}; }
}

@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: $value #{$imt};
  }
}
